/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  font-family: Raleway;
  box-sizing: border-box;
}

.overall-user-wrapper {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.overall-user-wrapper img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-info-wrapper {
  margin: 0 5%;
}

.user-collectable-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.user-collectable-card-wrapper > section {
  display: flex;
  flex-direction: column;
}

.user-collectable-card-wrapper > section > h3 {
  text-align: left;
  font-size: 2rem;
}

.user-collectable-card-wrapper > section > div {
  display: flex;
}

.user-collectable-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-collectable-card img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-sizing: border-box;
}

.user-collectable-card h3 {
  margin: 10px;
}

.user-collectable-card p {
  margin: 10px;
}

.edit-button {
  cursor: pointer;
  background-color: white;
  color: #eb6a79;
  border: 2px solid #eb6a79;
  border-radius: 5px;
  padding: 5% 15%;
  font-size: 0.9rem;
  transition: 0.5s;
}

.add-collect-button {
  cursor: pointer;
  background-color: white;
  color: #eb6a79;
  border: 2px solid #eb6a79;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.9rem;
  transition: 0.5s;
}

.add-collect-button:hover {
  background-color: #eb6a79;
  color: white;
}

.edit-button:hover {
  background-color: #eb6a79;
  color: white;
  transition: 0.5s;
}
